@import "./_base.css";
@import "./_typography.css";

/* declare variables */
:root {
  --main-bg-color: #f9fffb;
  --black-color: #121212;
  --orange-color: #ff9d00;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: auto;
  }
  .modal__meal {
    max-width: 600px;
    margin: auto;
  }
  .footer {
    max-width: 500px;
    margin: auto;
  }
  .modal__img {
    max-width: 600px;
    margin: auto;
    position: unset !important;
    margin-top: 11em;
  }
}
.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  font-family: "PT Serif", serif;
  background-color: var(--main-bg-color);
  padding: 20px;
  overflow: auto;
}
.header__profile {
  display: flex;
  align-items: center;
  color: var(--black-color);
  margin-bottom: 25px;
  margin-top: 20px;
}
.header__profile-title {
  font-size: 1.7em;
  margin-left: 10px;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.header__title h3 {
  font-size: 2.8em;
  font-weight: bold;
  line-height: 37px;
}
.header__title-btn {
  font-family: "Cerebri Sans", sans-serif;
  font-size: 1.2em;
  outline: hidden;
  border-radius: 13px;
  color: var(--orange-color);
  border: 1px solid #ff9d00;
  padding: 5px 13px;
  background: rgba(255, 157, 0, 0.05);
}
.info {
  outline: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: none;
  font-size: 1.4em;
  border-radius: 6px;
  width: 100%;
  color: var(--black-color);
}
.info__title {
  flex-basis: 67%;
  background: rgba(0, 194, 103, 0.1);
  padding: 12px 0 12px 15px;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: lighter;
}
.info__title p {
  text-align: left;
  line-height: 20px;
}
.info__price {
  flex-basis: 33%;
  background: rgba(0, 194, 103, 1);
  padding: 12px 10px 12px 15px;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.info__price p:first-child {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 500;
  text-decoration: line-through;
}
.info__price p {
  line-height: 20px;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 600;
}

.meal {
  outline: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: none;
  font-size: 1.4em;
  border-radius: 6px;
  width: 100%;
}

.meal:focus,
.meal:active {
  outline: none;
}

.meal p {
  line-height: 20px;
  color: var(--black-color);
  font-family: "Cerebri Sans", sans-serif;
}

.meal p:first-child {
  padding: 12px 0 12px 15px;
  flex-basis: 67%;
  text-align: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #f9f5e1;
  font-weight: lighter;
}
.meal p:last-child {
  flex-basis: 33%;
  padding: 12px 15px 12px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--orange-color);
  color: #fff;
  font-weight: 600;
}

.contact {
  background: #cfecff;
  border-radius: 6px;
  padding: 20px;
  color: var(--black-color);
  margin-bottom: 30px;
}

.contact h4 {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 20px;
}
.contact p {
  margin-top: 5px;
  font-size: 1.4em;
  line-height: 20px;
  color: #383838;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 300;
  width: 80%;
}
.contact__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.contact__details a {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Cerebri Sans", sans-serif;
}
.contact__details p {
  font-weight: 500;
  margin-top: 10px;
}

.contact__details a img {
  margin-left: 10px;
}

.contact__details-play a {
  color: var(--orange-color);
}

.contact__details-info {
  margin-left: 10px;
}
.contact__details-info a {
  color: #8a5cff;
}
.play {
  background-color: rgba(255, 146, 101, 0.7);
  border-radius: 50%;
  padding: 10px;
}
.call {
  background-color: rgba(190, 164, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
}

.upcoming__title {
  color: #00c267;
  font-size: 1.7em;
  line-height: 22px;
  margin-bottom: 16px;
}

.upcoming__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
  font-family: "Cerebri Sans", sans-serif;
}

.upcoming__info-time {
  flex-basis: 15%;
  font-size: 1.2em;
  color: #333;
  line-height: 15px;
  font-weight: 500;
}

.upcoming__info-event {
  flex-basis: 80%;
  background: #cfecff;
  border-radius: 10px;
  line-height: 19px;
  padding: 13px;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 10px;
}

.container__modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
/* ---------- */

.modal__in {
  visibility: visible;
  background: rgba(0, 0, 0, 0.9);
  transition: all 1s ease-out;
}

.modal__out {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s ease-out;
}

.modal__in .modal__meal {
  transform: scaleY(1) scaleX(1);
  transition: all 600ms linear;
}

.modal__out .modal__meal {
  transform: scaleY(0.2) scaleX(0.9);
  visibility: hidden;
  transition: all 600ms linear;
  margin-top: 10px;
}

/* ------------ */
.scale__up {
  transform: translateZ(-8.5rem) translateX(25rem) scale(6);
  z-index: 999;
}
@media only screen and (max-width: 400px) {
  .scale__up {
    transform: translateZ(-8.5rem) translateX(13rem) scale(6);
    z-index: 999;
  }
}

.scale__down {
  transform: translateZ(8.5rem) translateX(1) scale(1);
  z-index: 1;
}

.img__in {
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  transition: all 1s linear;
}
.img__out {
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: all 1s linear;
}

.modal__item .img--small {
  width: 60px;
  border-radius: 15px;
  transition: all 500ms ease;
}
/* ----------- */
.modal {
  background: #fff;
}
.modal__meal {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: scaleY(0.4) scaleX(0.9);
  margin-top: 15vh;
}
.modal__img {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  position: absolute;
}

.modal .full__img {
  width: 100%;
  height: auto;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close:focus,
.close:active {
  outline: none;
}

.modal__header h3 {
  font-size: 2em;
  line-height: 26px;
  color: var(--black-color);
  flex-basis: 70%;
  background: #f9f5e1;
  padding: 30px 0 30px 30px;
  border-top-left-radius: 20px;
}

.modal__header button {
  background: #ffbe56;
  border: none;
  outline: hidden;
  flex-basis: 30%;
  border-top-right-radius: 20px;
  padding: 30px;
}
.modal ul {
  margin: 30px;
}
.modal li {
  list-style: none;
  padding-bottom: 25px;
}

.modal__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Cerebri Sans", sans-serif;
}

.scale__up.img--small {
  border-radius: 0;
}
.modal__item figcaption {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.modal__item figcaption h4 {
  color: #303030;
  font-size: 1.8em;
  line-height: 24px;
}

.modal__item figcaption p {
  font-size: 1.5em;
  line-height: 24px;
  color: #6c6c6c;
  font-weight: lighter;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.75);
  padding: 10px 30px 20px 30px;
}
.footer ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer ul li p {
  margin-top: 2px;
  font-size: 1.2em;
  line-height: 22px;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 300;
  color: #303030;
}
